.forecast {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: black;
}
.forecast-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-items: center;
}
