div {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-self: center;
}

a {
  font-size: 6px;
  color: #2a354f;
  text-decoration: none;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 3%;
}

span {
  font-size: 6px;
}
