.Weather {
  font-family: sans-serif;
  padding: 16px;
  border-color: #d1d9e6;
  box-shadow: 6px 6px 12px #5ca1d5, -6px -6px 12px #d76c4b;
  border: solid 1px;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  margin-top: 5%;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 10px;
}

Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
