.Weather {
  font-family: sans-serif;
  padding: 16px;
  box-shadow: 6px 6px 20px #5ca1d5, -6px -6px 20px #d76c4b;
  border: linear-gradient(145deg, #ac310c 0%, #095fa1 100%) solid 1px;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  margin-top: 5%;
}

ul {
  margin-right: 6%;
}

ul.InnerCircle {
  margin-top: 25%;
}

li {
  margin-top: 5%;
  list-style: none;
}

li.Data {
  margin: 0 auto;
}

.City {
  font-size: 60px;
  font-weight: bold;
}

ul.Circle {
  margin-right: 40%;
}

.Forecast {
  margin-left: 5%;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 10px;
}

Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
